* {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  }

  h2 {
    font-size: 1.5em;
  }

/*      Header      */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  top: 0px;
}

header img {
  height: 50px;
  margin-left: 10px;
}

header nav a {
  display: inline-flex;
  justify-content: space-around;
  text-decoration: underline;
  padding: 5px;
  margin-right: 10px;
  }

/*      Main Container      */
.main {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-content: center;    /*I thought this would vertically align all sub flex containers ... It didnt */
  width: 100%;
  height: 1800px;
  margin-top: 60px;
}

/*      Mission       */
.mission {
  display: flex;
  align-self: center;
  width: 1200px;
  height: 700px;
  z-index: 5;
  background-image: url('../Media/missionbackground.jpg');
  background-repeat: no-repeat;
}

 .statement {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 100px;
  z-index: 10;
  background: none;
  background-color: inherit;
  opacity: 1;
  align-items: center;
  justify-content: center;
  }

.statement h2 {
  margin-bottom: 20px;
}

.statement h4 {
  margin-top: 0px;
}

/*        Tea of the Month TOM          */
.tom {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 760px;
  width: 100%;
}

.tom h2, h4{
  align-self: center;
  margin-bottom: 0px;
}

.tom h4 {
  margin-top: 20px;
}
